<div ng-controller="BooktravelCtrl">
    <ev-editor edit="esc.edit()" auth="auth && auth.token && !auth.token.error">
        <h2 class="row-fluid">
            <ev-text type="text" class="" value="book.titre" label="Titre de votre carnet de voyage"></ev-text>
            <ev-text type="date" class="" value="book.dateDebut" label="date de départ" name="dateDebut"></ev-text>
            <ev-text type="date" class="" value="book.dateFin" label="date de retour" name="dateFin"></ev-text>

        </h2>
        <div class="row-fluid" >
            <ev-text type="htmlarea" class="span9" value="book.description" label="Description" name="testContent"></ev-text>
            <div class="span3">
                <div>Pays traversés <br> xxx<br>yyy </div>
            </div>
        </div>
    </ev-editor>
    <div class="row-fluid" >
        <div class="span9">
            <div class='row-fluid'>
                <div>feuille de route N</div>
                <div>resumé</div>
            </div>
            <div>
                <div>feuille de route N-1</div>
                <div>resumé</div>
            </div>
            <div>
                <div>feuille de route N-2</div>
                <div>resumé</div>
            </div>
            <div>
                <div>feuille de route N-3</div>
                <div>resumé</div>
            </div>
        </div>
    </div>
</div> 