<div  ng-controller="BooktravelCtrl" class="row" ng-init="init()">
    <ev-editor  edit="esc.edit()" auth="auth && auth.token && !auth.token.error" name="widgetBookTravel" update="createOrUpdate()">
        <h1>
            <ev-text type="text" classes="big" value="book.title" label="Titre de votre carnet de voyage" name="titre" ng-required="true"></ev-text>
            <span ng-show="!$$prevSibling.getEditMode()">(du </span>
            <ev-text type="date" classes="subTitle start_date" value="book.dateDebut" format="'dd/MM/yyyy'" label="date de départ" name="dateDebut"></ev-text>
            <span ng-show="!$$prevSibling.getEditMode()"> au </span>
            <ev-text type="date" classes="subTitle end_date" value="book.dateFin" format="'dd/MM/yyyy'" label="date de retour" name="dateFin"></ev-text>
            <span ng-show="!$$prevSibling.getEditMode()">)</span>
        </h1>
        <div>
            
        </div>
        <div>
            <ev-text type="htmlarea" class="col-md-9" value="book.description" label="Description" name="testContent"></ev-text>
            <div class="col-md-3">
                <div>Pays traversés <br> xxx<br>yyy </div>
            </div>
        </div>
    </ev-editor>
    <div class="row" >
        <div class="col-md-9">
            <div class='row'>
                <div>feuille de route N</div>
                <div>resumé</div>
            </div>
            <div>
                <div>feuille de route N-1</div>
                <div>resumé</div>
            </div>
            <div>
                <div>feuille de route N-2</div>
                <div>resumé</div>
            </div>
            <div>
                <div>feuille de route N-3</div>
                <div>resumé</div>
            </div>
        </div>
    </div>
</div> 