<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
    <configuration>
        
        <custom-converters>
            <converter  type="org.evasion.cloud.service.mapper.EnumToStringConverter" >
                <class-a>java.lang.Enum</class-a>
                <class-b>java.lang.String</class-b>
            </converter>
        </custom-converters>
    </configuration> 

    <mapping> 
        <class-a>org.evasion.cloud.service.model.Site</class-a>
        <class-b>org.evasion.cloud.api.data.ISite</class-b>
        <field>
            <a>encodedKey</a>
            <b>id</b>
        </field>
        <field type="one-way">
            <a>userId</a>
            <b>userId</b>
        </field>   
    </mapping>
    
    <mapping >
        <class-a>org.evasion.cloud.service.model.Content</class-a>    
        <class-b>java.util.Map</class-b>
        <field custom-converter="org.evasion.cloud.service.mapper.EnumToStringConverter">
            <a>type</a>
            <b>type</b>
        </field>
    </mapping>
    <mapping map-null="false" > 
        <class-a>org.evasion.cloud.service.model.View</class-a>
        <class-b>org.evasion.cloud.api.data.IView</class-b>
        <field>
            <a>encodedKey</a>
            <b>id</b>
        </field>   
    </mapping> 
    <mapping>
        <class-a>org.evasion.cloud.service.model.booktravel.Book</class-a>
        <class-b>org.evasion.cloud.api.data.booktravel.IBook</class-b>
        <field>
            <a>encodedKey</a>
            <b>id</b>
        </field> 
    </mapping>
</mappings>