
.container {
    width: 1200px;
}
.cadreLogo{
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100px !important;
}

.active {
    background-color: green;
}
.options {
    position: absolute;
    left: -17px;
    top:0px;
    z-index: 9999;
    width: 17px;
    display: none;
}
.content {
    position: relative;
}

.content:hover .options {
    display: block;
}