
.container {
    width: 1200px;
}
.cadreLogo{
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100px !important;
}

.active {
    background-color: green;
}
.options {
    position: absolute;
    left: -17px;
    top:0px;
    z-index: 9999;
    width: 17px;
    display: none;
}
.content {
    position: relative;
    text-align: left;
}

.content:hover .options {
    display: block;
}

// Style pour le bouton signin de Google
    #gSignIn {
      display: inline-block;
      background: #cc3732;
      color: white;
      width: 175px;
      border-radius: 5px;
    }
    #gSignIn:hover {
      background: #e74b37;
      cursor: hand;
    }
    #gSignIn span.label {
      font-weight: bold;
    }
    #gSignIn span.icon {
      background: url('/+/images/branding/btn_red_32.png') transparent 10px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
    }
    #gSignIn span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 40px;
      padding-right: 40px;
    }
    .min-maps {
        height: 200px;
        width: 200px;
    }